doctype html

head
  meta(charset="utf8")
  title topnav example
  meta(name="view", content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", href="../lib/index.styl")
  link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
  style
    :stylus
      body
      html
        margin 0

body
  div.topnav
    div.topnav-icon
      i.fa.fa-home
    div.topnav-left.topnav-menu
      div.topnav-item left-item 1
      div.topnav-item left-item 2
      div.topnav-item left-item 3
      div.topnav-item left-item 4
    div.topnav-icon
      i.fa.fa-shopping-cart
    div.topnav-right.topnav-menu
      div.topnav-item right-item 1
      div.topnav-item right-item 2
      div.topnav-item right-item 3
      div.topnav-item right-item 4